spreadsheets/completed/email/delete_me.txt
spreadsheets/completed/without_email/delete_me.txt
spreadsheets/completed/without_email/*
spreadsheets/completed/email/*

spreadsheets/fixed/*
spreadsheets/need_fixed/*
spreadsheets/ExampleLicenses.xlsx
spreadsheets/Licenses.xlsx

logs/*

qt.py