spreadsheets/completed/email/delete_me.txt
spreadsheets/completed/without_email/delete_me.txt
spreadsheets/completed/without_email/*
spreadsheets/completed/email/*

spreadsheets/fixed/*
spreadsheets/need_fixed/*

logs/*

qt.py